<ons-page ng-controller="KnotsController" modifier="full_bg">
    <div class="inset">
        &nbsp;
    </div>
    <div class="inset" ng-swipe-right="close()">
        <div>
            <ons-list>
                <ons-list-item class="centered">
                    <ons-icon icon="ion-shuffle" fixed-width="true">
                    </ons-icon>
                    Knots
                </ons-list-item>
            </ons-list>
        </div>
        <div>
            <ons-list>
                <ons-list-item class="navigable" modifier="tappable chevron" ng-click="youtube('https://youtu.be/YXRnPES0Qec')">
                    Bowline Knot
                </ons-list-item>
                <ons-list-item class="navigable" modifier="tappable chevron" ng-click="youtube('https://youtu.be/pMRTmEZ4-JU')">
                    Clove Hitch Loop Method
                </ons-list-item>
                <ons-list-item class="navigable" modifier="tappable chevron" ng-click="youtube('https://youtu.be/pwdZTHu5rTI')">
                    Clove Hitch Rope End Method
                </ons-list-item>
                <ons-list-item class="navigable" modifier="tappable chevron" ng-click="youtube('https://youtu.be/_DPYEPxtjF0')">
                    Double Figure Eight
                </ons-list-item>
                <ons-list-item class="navigable" modifier="tappable chevron" ng-click="youtube('https://youtu.be/O6oJwedcb18')">
                    Double Fisherman's Bend
                </ons-list-item>
                <ons-list-item class="navigable" modifier="tappable chevron" ng-click="youtube('https://youtu.be/7Eso8q84aCc')">
                    Double Overhand Knot
                </ons-list-item>
                <ons-list-item class="navigable" modifier="tappable chevron" ng-click="youtube('https://youtu.be/aLopeVBb7yU')">
                    Figure Eight Follow Through
                </ons-list-item>
                <ons-list-item class="navigable" modifier="tappable chevron" ng-click="youtube('https://youtu.be/I0ShGbIR0ZI')">
                    Overhand Knot
                </ons-list-item>
                <ons-list-item class="navigable" modifier="tappable chevron" ng-click="youtube('https://youtu.be/0Y_iorha2k4')">
                    Square Knot
                </ons-list-item>
                <ons-list-item class="navigable" modifier="tappable chevron" ng-click="youtube('https://youtu.be/sO20BG1dkb0')">
                    Water Knot
                </ons-list-item>
            </ons-list>
        </div>
    </div>
    <!--
    <div class="inset">
      <ons-button modifier="large outline tappable" ng-click="close()">
        <ons-icon icon="fa-chevron-left" fixed-width="true">
        </ons-icon>
        Back
      </ons-button>
    </div>
    -->
</ons-page>