<ons-page ng-controller="ProfileController" modifier="full_bg">
    <div class="inset">
        &nbsp;
    </div>
    <div class="inset" ng-swipe-right="close()">
        <div>
            <ons-list>
                <ons-list-item class="centered prominent">
                    <ons-icon icon="fa-list-alt" fixed-width="true">
                    </ons-icon>
                    Update Profile
                </ons-list-item>
            </ons-list>
        </div>
        <div class="inset copy centered hey">
            {{message}}
        </div>
        <ons-list>
            <ons-list-item>
                <input type="text" class="text-input" ng-model="email" placeholder="Email" style="width: 100%">
                <br/>
                <input my-focus type="text" class="text-input" ng-model="name" placeholder="Name" style="width: 100%">
                <br/>
                <input type="text" class="text-input" ng-model="phone" placeholder="Phone" style="width: 100%">
            </ons-list-item>
        </ons-list>
        <br/>
        <div>
            <ons-button modifier="large tappable" ng-click="update()">
                <ons-icon icon="fa-check-circle" fixed-width="true">
                </ons-icon>
                Update
            </ons-button>
        </div>
    </div>
    <!--
    <div class="inset">
        <ons-button modifier="large outline tappable" ng-click="close()">
            <ons-icon icon="fa-chevron-left" fixed-width="true">
            </ons-icon>
            Back
        </ons-button>
    </div>
    -->
</ons-page>