<ons-page ng-controller="IntroController" modifier="intro_bg" ng-device-backbutton="exit()">
    <div class="inset">
        &nbsp;
    </div>
    <div class="inset" ng-swipe-right="login()" ng-swipe-left="start()">
        <div style="min-height: 300px">
            <ons-list>
                <ons-list-item class="centered">
                    <ons-icon icon="fa-sign-in" fixed-width="true">
                    </ons-icon>
                    Welcome
                </ons-list-item>
            </ons-list>
            <div class="inset hey">
                {{message}}
            </div>
            <div class="inset">
                Welcome to {{settingAppName}}, the app designed for ski patrollers like you.
            </div>
            <div class="inset">
                We have just a few questions to ask to get your account set up and you're on your way!
            </div>
            <div class="inset">
                Already have an account? Feel free to just log in.
            </div>
        </div>
        <div class="centered">
            <ons-button modifier="large tappable" ng-click="start()">
                <ons-icon icon="fa-chevron-circle-right" fixed-width="true">
                </ons-icon>
                Start
            </ons-button>
        </div>
        <br/>
        <div class="centered">
            <ons-button modifier="large outline tappable" ng-click="login()">
                <ons-icon icon="fa-sign-in" fixed-width="true">
                </ons-icon>
                Login
            </ons-button>
        </div>
        <br/>
    </div>
</ons-page>