<ons-page ng-controller="RegTermsController" modifier="full_bg">
  <div class="inset">
    &nbsp;
  </div>
  <div class="inset" ng-swipe-right="close()">
    <div>
      <ons-list>
        <ons-list-item class="centered">
          <ons-icon icon="fa-file-text-o" fixed-width="true">
          </ons-icon>
          Terms of Service
        </ons-list-item>
      </ons-list>
    </div>
    <div class="fineprint">
      <p>
        This Agreement was last modified on April 16, 2014.
      </p>
      <p>
        Please read these Terms of Service ("Agreement", "Terms of Service") carefully before using the Ski Patrol Mobile App ("the App") operated by Ski Patrol Mobile App ("us", "we", or "our"). This Agreement sets forth the legally binding terms and conditions for your use of the App available at www.skipatrolmobileapp.com.
      </p>
      <p>
        By accessing or using the App in any manner, including, but not limited to, using the App or contributing content or other materials to the App, you agree to be bound by these Terms of Service. Capitalized terms are defined in this Agreement.
        <p>
          Intellectual Property
      </p>
      <p>
        The App and its original content, features and functionality are owned by <span ng-click="goAdmin()">Gary Meyer</span> and are protected by international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.
      </p>
      <p>
        User-Generated Content
      </p>
      <p>
        Contribute and use content at your own risk as we do not take responsibility for accuracy of Submissions (i.e., user-generated content including but not limited to posts, comments, images, links, profile information). You are solely responsible for your Submissions. However, while we do not and cannot review every Submission and are not responsible for Submission content, we reserve the right to delete, move, or edit Submissions that we, in our sole discretion, deem abusive, defamatory, obscene, in violation of copyright or trademark laws, or otherwise unacceptable. By making a Submission, you are consenting to its display and publication on the App. Refrain from Submissions with confidential and illegal content. Ensure that your usage of the App complies with the bylaws, policies, procedures, and protocols of your organization.
      </p>
      <p>
        Termination
      </p>
      <p>
        We may terminate your access to the App, without cause or notice, which may result in the forfeiture and destruction of all information associated with you. All provisions of this Agreement that by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.
      </p>
      <p>
        Links To Other Sites
      </p>
      <p>
        Our App may contain links to third-party sites that are not owned or controlled by Ski Patrol Mobile App.
      </p>
      <p>
        Ski Patrol Mobile App has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services. We strongly advise you to read the terms and conditions and privacy policy of any third-party site that you visit.
      </p>
      <p>
        Governing Law
      </p>
      <p>
        This Agreement (and any further rules, polices, or guidelines incorporated by reference) shall be governed and construed in accordance with the laws of Colorado, United States of America, without giving effect to any principles of conflicts of law.
      </p>
      <p>
        Changes To This Agreement
      </p>
      <p>
        We reserve the right, at our sole discretion, to modify or replace these Terms of Service by posting the updated terms on the App. Your continued use of the App after any such changes constitutes your acceptance of the new Terms of Service.
      </p>
      <p>
        Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or any changes to this Agreement, do not use, access or continue to access the App or discontinue any use of the App immediately.
      </p>
      <p>
        Contact Us
      </p>
      <p>
        If you have any questions about this Agreement, please contact us at support at skipatrolmobileapp.com.
      </p>
      <p>
        Generated with permission from TermsFeed Generator.
      </p>
    </div>
  </div>
    <div class="inset">
      <ons-button modifier="large outline tappable" ng-click="close()">
        <ons-icon icon="fa-chevron-left" fixed-width="true">
        </ons-icon>
        Back
      </ons-button>
    </div>
</ons-page>