<ons-page ng-controller="AedsController" modifier="full_bg">
    <div class="inset" ng-swipe-right="close()">
        <div class="inset">
            &nbsp;
        </div>
        <div>
            <ons-list>
                <ons-list-item class="centered">
                    <ons-icon icon="ion-ios-pulse-strong" fixed-width="true">
                    </ons-icon>
                    {{territory}} AEDs
                </ons-list-item>
            </ons-list>
        </div>
        <ons-list>
            <ons-list-item class="navigable" modifier="tappable chevron" ng-repeat="aed in aeds" ng-click="view($index)">
                {{aed.location}}
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>