<ons-page ng-controller="MarkedController" modifier="full_bg">
    <div class="inset" ng-swipe-right="close()">
        <div class="inset">
            &nbsp;
        </div>
        <div>
            <ons-list>
                <ons-list-item class="centered">
                    <ons-icon icon="fa-compass" fixed-width="true">
                    </ons-icon>
                    Recent Marked Locations
                </ons-list-item>
            </ons-list>
        </div>
        <ons-list>
            <ons-list-item class="navigable" modifier="tappable chevron" ng-repeat="geoMark in geoMarks" ng-click="view($index)">
                {{geoMark.scannedOn}} - {{geoMark.userName}}
            </ons-list-item>
        </ons-list>
        <div>&nbsp;</div>
        <div class="centered copy hey">{{message}}</div>
    </div>
</ons-page>