<ons-page ng-controller="NicknamesController" modifier="full_bg">
    <div class="inset" ng-swipe-right="close()">
        <div class="inset">
            &nbsp;
        </div>
        <div>
            <ons-list>
                <ons-list-item class="centered">
                    <ons-icon icon="ion-android-chat" fixed-width="true">
                    </ons-icon>
                    {{territory}} Nicknames
                </ons-list-item>
            </ons-list>
        </div>
        <ons-list>
            <ons-list-item class="navigable" modifier="tappable chevron" ng-repeat="nickname in nicknames" ng-click="view($index)">
                {{nickname.name}}
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>