<ons-page ng-controller="SweepsController" modifier="full_bg">
    <div class="inset" ng-swipe-right="close()">
        <div class="inset">
            &nbsp;
        </div>
        <div>
            <ons-list>
                <ons-list-item class="centered">
                    <ons-icon icon="ion-android-done-all" fixed-width="true">
                    </ons-icon>
                    {{territory}} {{sweepLabel}}
                </ons-list-item>
            </ons-list>
        </div>
        <ons-list>
            <ons-list-item class="navigable" modifier="tappable chevron" ng-repeat="sweep in sweeps" ng-click="view($index)">
                {{sweep.name}}
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>