<ons-page ng-controller="ToboggansController" modifier="full_bg">
    <div class="inset" ng-swipe-right="close()">
        <div class="inset">
            &nbsp;
        </div>
        <div>
            <ons-list>
                <ons-list-item class="centered">
                    <ons-icon icon="ion-android-locate" fixed-width="true">
                    </ons-icon>
                    {{territory}} Toboggans
                </ons-list-item>
            </ons-list>
        </div>
        <ons-list>
            <ons-list-item class="navigable" modifier="tappable chevron" ng-repeat="toboggan in toboggans" ng-click="view($index)">
                {{toboggan.name}}
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>