<ons-page ng-controller="TobogganController" modifier="full_bg">
    <div class="inset" ng-swipe-right="close()">
        <div class="inset">
            &nbsp;
        </div>
        <div>
            <ons-list>
                <ons-list-item class="centered">
                    <ons-icon icon="ion-android-locate" fixed-width="true">
                    </ons-icon>
                    {{name}}
                </ons-list-item>
            </ons-list>
        </div>
        <br/>
        <div class="centered inset copy">
            {{location}}
        </div>
        <div class="inset" ng-hide="{{hide}}">
            <ons-list>
                <ons-list-item class="navigable centered" modifier="tappable chevron" ng-click="locate()">
                    Locate
                </ons-list-item>
            </ons-list>
        </div>
    </div>
    <!--
    <div class="inset">
      <ons-button modifier="large outline tappable" ng-click="close()">
        <ons-icon icon="fa-chevron-left" fixed-width="true">
        </ons-icon>
        Back
      </ons-button>
    </div>
    -->
</ons-page>